body {
    background: #111;
    color: white;
}

.board {
    padding-top: 60px;
    width: 600px;
    height: 600px;
    margin: auto;
}

table {
    border-spacing: 10px;
}

.cell {
    padding: 3px;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    background-color: gray;
}

.mine {
    background-color: red;
}

td {
    font-size: 40px;
}

.shown {
    background-color: green;
}


/* .hide {
    display: none;
} */